:root {
	/* fonts */
	--font: 'Patrick Hand', cursive;
	--font__small-caps: 'Patrick Hand SC', cursive;

	/* color palette */
	/* https://www.realtimecolors.com/dashboard?colors=202603-fbfef1-647a0b-73f15f-14e630&fonts=Poppins-Poppins */
	--text: #202603;
	--background: #fbfef1;
	--primary: #647a0b;
	--secondary: #73f15f;
	--accent: #14e630;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	margin: 0;
	font-family: var(--font);
	color: var(--text);

	background-color: var(--background);

	/* background-image: url(../assets/images/sleep-cat.jpeg); */
}

.dark {
	--text: #f6fcd9;
	--background: #0b0e01;
	--primary: #def486;
	--secondary: #21a00e;
	--accent: #19eb35;
}

.title {
	font-family: var(--font__small-caps);
}
