:root {
	/* fonts */
	--font: 'Patrick Hand', cursive;
	--font__small-caps: 'Patrick Hand SC', cursive;

	/* color palette */
	/* https://www.realtimecolors.com/dashboard?colors=202603-fbfef1-647a0b-73f15f-14e630&fonts=Poppins-Poppins */
	--text: #202603;
	--background: #fbfef1;
	--primary: #647a0b;
	--secondary: #73f15f;
	--accent: #14e630;

	/* position */
	--random-order: 1;
	--random-rotation: 0deg;
	--top-pos: 0px;
	--left-pos: 0px;
	--top-correction: 0px;
	--left-correction: 0px;
	--z-index: auto;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	margin: 0;
	font-family: var(--font);
	color: var(--text);

	background-color: var(--background);

	/* background-image: url(../assets/images/sleep-cat.jpeg); */
}

.dark {
	--text: #f6fcd9;
	--background: #0b0e01;
	--primary: #def486;
	--secondary: #21a00e;
	--accent: #19eb35;
}

.title {
	font-family: var(--font__small-caps);
	text-align: center;
	font-size: 60px;

	margin-bottom: 20px;
}

.claim {
	display: block;
	text-align: center;
	font-size: 25px;

	margin-bottom: 40px;
}

.puzzle-container {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.puzzle-pieces {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	gap: 15px;

	border: 5px dotted var(--primary);
	border-radius: 10px;
	padding: 20px;

	width: 400px;
	height: 750px;
}

.piece {
	cursor: move;
	cursor: grab;
	order: var(--random-order);
	/* transform: rotate(var(--random-rotation)); */
}

.piece:active {
	cursor: grabbing;
}

.puzzle-base {
	user-select: none;

	display: flex;
	align-items: center;
	justify-content: center;

	border: 5px dotted var(--primary);
	border-radius: 10px;

	width: 750px;
	height: 750px;
	position: relative;
}

.dragged-piece {
	position: absolute;
	left: -500px;
}

.dropped-piece {
	position: absolute;
	top: var(--top-pos);
	left: var(--left-pos);
	z-index: var(--z-index);
	transform: translate(var(--left-correction), var(--top-correction))
		/* rotate(var(--random-rotation)) */;
}
