:root {
	/* fonts */
	--font: 'Patrick Hand', cursive;
	--font__small-caps: 'Patrick Hand SC', cursive;

	/* color palette */
	/* https://www.realtimecolors.com/dashboard?colors=202603-fbfef1-647a0b-73f15f-14e630&fonts=Poppins-Poppins */
	--text: #202603;
	--background: #fbfef1;
	--primary: #0db24c;
	--accent: #0db24c;

	/* position */
	--random-order: 1;
	--random-rotation: 0deg;
	--top-pos: 0px;
	--left-pos: 0px;
	--top-correction: 0px;
	--left-correction: 0px;
	--z-index: auto;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	margin: 0;
	font-family: var(--font);
	color: var(--text);

	background-color: var(--background);
}

.accent--luigi {
	--accent: #0db24c;
	--accent-txt: #fbfef1;
}

.accent--daisy {
	--accent: #feae25;
	--accent-txt: var(--text);
}

.accent--peach {
	--accent: #f19fc3;
	--accent-txt: var(--text);
}

.accent--mario {
	--accent: #ee1b23;
	--accent-txt: var(--text);
}

.title {
	font-family: var(--font__small-caps);
	text-align: center;
	font-size: 60px;

	margin-top: 20px;
	margin-bottom: 20px;
}

.subtitle {
	font-family: var(--font__small-caps);
	text-align: center;
	font-size: 40px;

	margin-top: 20px;
	margin-bottom: 20px;
}

.claim {
	display: block;
	text-align: center;
	font-size: 25px;
}

.header {
	margin-top: 20px;
	margin-bottom: 60px;
	padding: 1px;
}

.rules {
	font-size: 22px;
	padding: 20px 40px;

	border: 8px solid black;
	border-radius: 10px;
	background-color: var(--background);

	max-width: 90vw;
	max-height: 90vh;
	overflow-y: scroll;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.rules__img {
	margin-left: auto;
	margin-right: auto;
	border: 5px solid black;
	border-radius: 8px;
}

.btn__close {
	position: fixed;
	right: 20px;
	top: 10px;

	display: inline-block;
	background-color: transparent;
	border: none;
	padding: none;

	font-size: 40px;
}

.btn__close:hover {
	cursor: pointer;
	color: red;
}

.btn {
	display: block;
	padding: 10px;
	border: none;
	border-radius: 5px;

	background-color: var(--primary);
	font-size: 20px;
	text-align: center;
	color: var(--background);

	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.btn:hover {
	cursor: pointer;
	background-color: transparent;
	outline: 5px solid var(--primary);
	color: var(--primary);
}

.btn--puzzle {
	position: absolute;
	left: 20vw;
	top: 100px;
}

.characters-list {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding-left: 40px;
	padding-right: 40px;
}

.characters-list__single {
	text-align: center;
	font-size: 25px;
}

.characters-list__single:hover .characters-list__img {
	filter: drop-shadow(0 0 10px var(--accent));
}

.characters-list__single:hover {
	text-decoration-line: underline;
	text-decoration-color: var(--accent);
	text-decoration-thickness: 3px;
}

.characters-list__img {
	max-width: 400px;
	height: 400px;
}

.puzzle-info__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.puzzle-info__txt {
	font-size: 30px;
}

.puzzle-info__number {
	font-size: 50px;
}

.puzzle-container {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.puzzle-pieces {
	user-select: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	gap: 15px;

	box-shadow:
		0 0 1px 6px #1a1a1a,
		inset 0 0 1px 5px #1a1a1a;
	border-radius: 10px;
	padding: 20px;

	width: 400px;
	height: 750px;
}

.piece {
	cursor: move;
	cursor: grab;
	order: var(--random-order);
	position: relative;
	z-index: 0;
}

.piece:active {
	cursor: grabbing;
}

.piece-img {
	transform: rotate(var(--random-rotation));
}

.puzzle-base {
	user-select: none;

	display: flex;
	align-items: center;
	justify-content: center;

	/* border: 5px dotted var(--primary); */
	background-color: var(--background);
	border-radius: 10px;

	width: 750px;
	height: 750px;
	position: relative;
}

.rotate-piece {
	filter: drop-shadow(0 0 10px var(--accent));
	z-index: 2;
}

.rotate-piece__disabled {
	cursor: not-allowed;
	opacity: 0.4;
	z-index: -1;
}

.rotate-piece__btn {
	color: var(--accent-txt);

	display: inline-block;
	background-color: var(--accent);
	position: absolute;
	transform: translateY(-50%);

	min-width: 45px;
	min-height: 45px;
	border: none;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 45px;
}

.rotate-piece__btn:hover {
	cursor: pointer;
	box-shadow:
		inset 0 0 3px var(--accent),
		inset 0 0 60px rgba(0, 0, 0, 0.3);
}

.rotate-piece__btn--left {
	font-size: 32px;
	left: -80px;
	top: 50%;
	padding-bottom: 7px;
}

.rotate-piece__btn--right {
	font-size: 32px;
	right: -80px;
	top: 50%;
	padding-bottom: 7px;
}

.rotate-piece__btn--finish {
	font-size: 25px;
	padding: 7px 15px;
	right: 50%;
	bottom: -80px;
	transform: translateX(50%);
}

.dropped-piece {
	position: absolute;
	top: var(--top-pos);
	left: var(--left-pos);
	z-index: var(--z-index);
	transform: translate(var(--left-correction), var(--top-correction));
}

.hidden {
	display: none;
}
